/* body{
    background-color: black;
}
h2, h3, h4{
    background-color: pink;
}
#heading4{
    font-family: 'Times New Roman', Times, serif;
    color: brown;
} */

/* div~p{
    background-color: aqua;
} */

p:nth-child(1){
    background-color: blueviolet;
    color: bisque;
}
div p:nth-of-type(1){
    background-color: blue;
    color: aliceblue;
}