.container{
    display: grid;
    /* grid-template-columns: 200px 300px 400px; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 500px 200px;
    /* flex-direction: row-reverse; */
    border: 1px solid red;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}
.child1{
    border: 1px dotted violet;
    height: 300px;
    width: 300px;
    background-color: black;
}
.child2{
    border: 1px dotted rgb(130, 198, 238);
    height: 300px;
    width: 300px;
    background-color: blueviolet;
}
.child3{
    border: 1px dotted rgb(238, 238, 130);
    height: 300px;
    width: 300px;
    background-color: bisque;
}
.child4{
    border: 1px dotted rgb(238, 143, 130);
    height: 300px;
    width: 300px;
    background-color: azure;
}