.book-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.book{
    border: 3px solid white; 
    border-radius: 18px;
    padding: 16px;
}