.card{
    border: 4px solid black;
    height: auto;
    width: 500px;
}
.photo, h2, h3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.photo{
    height: 400px;
}